apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: strimzi-drain-cleaner
  labels:
    {{- include "strimzi-drain-cleaner.labels" . | nindent 4 }}
    {{- with .Values.webhook.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- if (or .Values.certManager.create .Values.webhook.annotations) }}
  annotations:
    {{- if .Values.certManager.create }}
    cert-manager.io/inject-ca-from: {{default .Release.Namespace .Values.namespace.name }}/strimzi-drain-cleaner
    {{- end }}
    {{- if .Values.webhook.annotations }}
    {{- toYaml .Values.webhook.annotations | nindent 4 }}
    {{- end }}
  {{- end }}
webhooks:
  - name: strimzi-drain-cleaner.strimzi.io
    rules:
      - apiGroups:   [""]
        apiVersions: ["v1"]
        operations:  ["CREATE"]
        resources:   ["pods/eviction"]
        scope:       "Namespaced"
    clientConfig:
      service:
        namespace: "{{default .Release.Namespace .Values.namespace.name }}"
        name: "strimzi-drain-cleaner"
        path: /drainer
        port: 443
      {{- if .Values.secret.ca_bundle }}
      caBundle: {{ .Values.secret.ca_bundle }}
      {{- end }}
    admissionReviewVersions: ["v1"]
    {{- with (.Values.webhook).namespaceSelector }}
    namespaceSelector:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    sideEffects: None
    failurePolicy: {{ .Values.webhook.failurePolicy }}
    timeoutSeconds: {{ .Values.webhook.timeoutSeconds }}
